# Excluir carpetas comunes
**/.classpath
**/.project
**/.settings
**/.tooltarget
**/.vs
**/.vscode
**/.idea
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/obj
**/logs
**/node_modules
**/wwwroot/lib

# Excluir archivos de configuración locales
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

# Excluir archivos de Git
**/.git
**/.gitignore
**/.gitattributes
**/README.md

# Excluir archivos temporales
**/*.tmp
**/*.temp
**/TestResults
**/Coverage

# Excluir archivos de Docker
**/Dockerfile
**/.dockerignore
**/docker-compose*
**/docker-compose.override.yml

# Excluir archivos específicos del proyecto
**/appsettings.Development.json
**/appsettings.Local.json
